@{
    var viewModel = Model as Meshop.PageRating.SettingsViewModel;
}
 
<form method="post">
<fieldset>
<legend>@ViewBag.header</legend>
<strong>Foo</strong>
@Html.TextBox("Foo",viewModel.Foo)
<input type="submit" value="Save" />
</fieldset>
</form>